_site
.DS_Store
.jekyll
.jekyll-metadata
.jekyll-cache
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
.vs
bin
obj
**/BenchmarkDotNet.Artifacts/*.log
/images/2021-11-bendingdotnet-common-flat-build-output/build
/images/2022-01-bendingdotnet-move-native-libraries-to-sub-directory/build
/images/2022-01-bendingdotnet-corrected-common-flat-build-output/build
/images/2022-01-bendingdotnet-corrected-common-flat-build-output/publish
