
//
// VARIABLES
//

$background: #000;

// Colors
$blue: #4993DD;
$darkBlue: #2B5683;

// Grays
// INVERTED COLORS, SINCE NAMES FROM BRIGHT THEME
$black: #fff;
$darkerGray: #eee;
$darkGray: #ccc;
$gray: #aaa;
$lightGray: #666;
$alternateBackground: #222;
$hoverBackground: #333;
$white: #111;

$header-footer-background: #1D1D1D;

// Font stacks
$fontSansSerifBody: Helvetica, Arial, sans-serif;
$fontSansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSerifBody: Georgia, serif;
$fontDefault: $fontSansSerif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}